#popup4 .popup {
    width: 95%;
}

.rowImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    /*overflow:  auto;*/
}
.container {
    /*position: relative;*/
    /*width: 50%;*/
    /*width: 100px;*/
    /*height: auto;*/
    display: flex;
    flex-direction: column;
    /*flex: auto;*/
    flex-wrap: wrap;
    padding: 5px;

}

.image {
    display: flex;
    flex: auto;
    opacity: 1;
    /*display: block;*/
    /*width: 100px;*/
    /*height: auto;*/
    transition: .5s ease;
    /*backface-visibility: hidden;*/
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .topText {
    opacity: 1;
}



/*todo -------------------------------*/
.middle666 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*text-align: center;*/
}

/*.middle999 {*/
/*    transition: .5s ease;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    top: 90%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    text-align: center;*/
/*}*/




/*.topText {*/
/*    transition: .5s ease;*/
/*    opacity: 0;*/
/*    !*width: 100px;*!*/
/*    !*position: absolute;*!*/
/*    position: fixed;*/
/*    !*bottom: 0%;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%, -50%);*!*/
/*    !*-ms-transform: translate(-50%, -50%);*!*/
/*    text-align: center;*/
/*}*/




/*.text {*/
/*    !*background-color: #4CAF50;*!*/
/*    color: white;*/
/*    font-size: 16px;*/
/*    padding: 16px 32px;*/
/*}*/








.topText {
    transition: .5s ease;
    opacity: 0;
    width: 100px;
    position: absolute;
    /*position: fixed;*/
    /*position: relative;*/
    /*bottom: 30%;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    text-align: center;
}




.text {
    /*background-color: #4CAF50;*/
    /*position: fixed;*/
    /*bottom: 90%;*/
    color: white;
    font-size: 16px;
    margin-top: 100px;
    /*padding: 16px 32px;*/
}