body{
    background-image: url("img/backgrounds-blank-blue-953214.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    /*height: 100%;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}

.login{
    display: block;
    text-align: center;
    font-family: "Cantarell Extra Bold", serif;
    font-size: xx-large;
    /*color: black;*/
    /*background-color: black;*/
}

.submit{
    border-radius: 30px;
    background-color: hsla(100,10%,50%, 0.9);
    color: black;
    /*font-family: "Hack Nerd Font", monospace;*/
    font-style: normal;
}
input{
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
    background-color: hsla(12,1%,3%, 0.5) ;
    color: white;
}

h1 {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.49);
}


/*.navigation {*/
/*    display: flex;*/
/*    flex: auto ;*/
/*}*/

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    flex: auto ;
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
}


