body {
    background-image: url("images/paper-3164718_1920.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100% auto;
}

h1 {
    display: block;
    color: white;
    background-color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


p {
    display: block;
    color: white;
    background-color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  pp {
    display: block;
    color: white;
    background-color: rgb(23, 92, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: aqua;

  }


menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.486);
  }
  
  li#menu {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
/* 
#navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
} */


/* .questions {
    list-style-type: none;
    margin: 0; */
    /* background-color: rgba(96, 167, 16, 0.486);} */

    /* #action {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
    } */
