body{
    background-image: url("img/backgrounds-blank-blue-953214.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    margin: 0;
    /*height: 100%;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    font-family: 'Indie Flower', cursive;
    font-family: 'Arvo', serif;

}

.login{
    display: block;
    text-align: center;
    font-family: "Cantarell Extra Bold", serif;
    font-size: xx-large;
    /*color: black;*/
    /*background-color: black;*/
}

.submit{
    border-radius: 30px;
    background-color: hsla(0, 100%, 27%, 0.9);
    color: black;
    /*font-family: "Hack Nerd Font", monospace;*/
    font-style: normal;
}
input{
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
    background-color: hsla(12,1%,3%, 0.5) ;
    color: white;
}

h1 {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.49);
    margin: 0;

}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    flex: auto ;
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
}

.userbar{
    background-color: rgba(0, 40, 68, 0.6);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}


.userbar > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(51, 51, 51, 0);
}

.userbar > ul > li {
    flex: 0 1 auto;
    position: relative;
    transition: all linear 0.1s;
}

.userbar > ul > li :hover{
    background-color: rgba(0, 5, 80, 0.41);
    margin: 0;
    /*padding: 10px;*/
    /*border-radius: 5px;*/
}
.userbar div{
    background-color: rgba(0, 5, 80, 0.41);
    padding-top: 30px;
    padding-bottom: 10px;

    margin: 0;
}

/*.userbar > ul > li >a> div:hover{*/
/*    background-color: rgba(0, 5, 80, 0.41);*/
/*    margin: 0;*/
/*    !*padding-top: 30px;*!*/
/*    !*padding-bottom: 30px;*!*/
/*    border-radius: 5px;*/
/*}*/

.userbar > ul > li a + div {
    display: none;
    font-size: 1rem;
    position: absolute;
    width: 200px;
}

.userbar > ul > li:hover a + div {
    display: block;
}
.userbar > ul > li a + div > ul{
    list-style-type: none;
}
.userbar > ul > li a + div > ul> li > a {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.56);
    text-transform: uppercase;
    color: sienna;
}

.userbar > ul > li a + div > ul> li:hover > a {
    background-color: aqua;
}
.userbar > ul > li > a {
    display: flex;
    max-width: 130px;
    transition: all linear 0.1s;
}

.userbar > ul > li > a > div > span {

    color: sienna;
    display: block;
    font-size: 14px;
    /*max-width: 260px;*/
}

@media (min-width: 990px) {
    .userbar > ul > li > a {

        max-width: 500px;
        font-size: 1.7rem;
        line-height: 2rem;
    }

    /*.userbar > ul > li > a > div > span {*/
    /*    margin: 0px 0 0;*/
    /*}*/
}


